<h1>All requests</h1>

<table class="tablesorter zebra-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Requester</th>
    <th>Request date</th>
    <th>Completed</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<% @requests.each do |request| %>
  <tr>
    <td><%= request.name %></td>
    <td><%= request.user.username %></td>
    <td><%= request.request_date.strftime('%d/%m/%Y') %></td>
    <td><%= request.completed %></td>
    <td><%= request.completed_date.strftime('%d/%m/%Y') if request.completed_date %></td>
    <td><%= link_to image_tag("show16.png", :border=>0), request %></td>
    <td><%= link_to image_tag("edit16.png", :border=>0), edit_request_path(request) %></td>
    
    <td><%= link_to image_tag("delete16.png", :border=>0), request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
