<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @request.name %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>User:</b>
  <%= @request.user.username %>
</p>

<p>
  <b>Request date:</b>
  <%= @request.request_date %>
</p>

<p>
  <b>Completed:</b>
  <%= @request.completed %>
</p>

<p>
  <b>Completed date:</b>
  <%= @request.completed_date %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
