<!DOCTYPE html>
<html>
<head>
  <title>Directory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="topbar-inner">
	<div class="container">
		<h3><a>Directory</a></h3>
		<ul class="nav secondary-nav">
			
			<li class="dropdown">
				<% if user_signed_in? %>
				<a class="dropdown-toggle">signed in as <%= current_user.username %></a>
				<ul class="dropdown-menu">
					<%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
				</ul>
				<% end %>
			</li>
			
		</ul>
	</div>
  </div>
</div>
<div class="container" id="content">
<div class="span12">
  <%= yield %>
</div>

<div class='span3' id='sidebar'>
	<h4>Tasks</h4>
<ul>
	<li><%= link_to 'All requests', requests_path %></li>
	<li><%= link_to 'My requests', requests_path(:type => "mine") %></li>
	<li><%= link_to 'Completed requests', requests_path(:type => "completed") %></li>
	<li><%= link_to 'Outstanding requests', requests_path(:type => "outstanding") %></li>
	<li><%= link_to 'New request', new_request_path, :class => "btn success"%></li>
</ul>
</div>
</div>
</body>
</html>
